<h2>Available Courses</h2>
<p>
    Today:
    {{ today | date:'fullDate' }}
</p>

<p>
    Portal:
    {{ 'student course portal' | titlecase }}
</p>

<p>
    Technology:
    {{ 'angular' | uppercase }}
</p>

<p>
    Course Fee:
    {{ courseFee | currency:'INR' }}
</p>

<hr>
<button (click)="showCourses = !showCourses">
    Toggle Courses
</button>

<div *ngIf="showCourses">

    <app-course-card *ngFor="let course of courses" [course]="course" (enrollRequested)="onEnroll($event)">
    </app-course-card>

</div>

<hr>

<p *ngIf="selectedCourseId">
    Selected Course ID :
    {{ selectedCourseId }}
</p>